.logo {
    font-family: "Montserrat", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0,02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left: 78px;
    margin-right: 99.5px;
    border: solid;
}

.logo-dot {
    color: #A3DC00;
}






















/* .navbar-items {
    font-family: "Roboto", serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 2%;
    line-height: 24px;
    justify-items: left;
    display: flex;
    gap: 38px;
    margin-top: 48px;
    margin-left: 99.5px;
    border: solid;
}

.sign-in {
    margin-left: 742px;
    background: none;
    border: none;
    margin-top: 48px;
} */


/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px, 100px;
    display: flex;
    z-index: 100;
    box-sizing: border-box;
    border: solid;
} */